:root {
  --color-accent: #5eead4;
  --background-accent: #2dd4bf1a;
  --color-highlight: #e2e8f0;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #0f172a;
  color: #94a3b8;
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 4rem;
}

.code {
  /* background: #3b5daa; */
  background: #c7cfda;
  font-size: .8rem;
  border-radius: .4rem;
  color: #0f172a;
}

.code {
  margin: auto 1.2rem ;
}

.project-header {
  font-size: 2rem;
  color: #ffffff;
}

/* code stylin */

.code-comment {
  color: #00d300;
  font-size: 14px;
}

.py-method {
  color:#ca10ca;
}

pre {
  font: 100px;
}

.code-text {
  color: rgb(231, 55, 55);
}
.code-func {
  color: #077ae6;
}

.airflow-call {
  color: #c7934e;
}

.code-font {
  font-size: 1rem;
  color: #50545c;
}

ul {
  margin-left: 4rem;
  font-weight: 300;
}